body {
  font-family:'Roboto', sans-serif;
}

.navbar {
  background-color: #1E202B;
}

.navbar-toggler i {
  color: white !important;
  font-size: 25px;
  padding: 0;
}

.content-nav {
  margin: 38px;
}

.navbar a h2 {
  font-size: 18px;
}

.navbar a p {
  font-size: 10px;
  color: #BAC1C8;
}

.navbar ul li a {
  font-size: 14px;
  color: white;
  padding: 5px 30px !important;
  border-radius: 30px;
  border: transparent 2px solid;
  transition: all 0.5s;
}

.navbar ul li .active {
  border: #009AD8 2px solid;
  border-radius: 30px;
  color: #009AD8;
}

.nav-item:hover a {
  border-color: #009AD8;
  color: #009AD8;
} 


.main-content {
  background-image: url(../image/banner.png);
  background-repeat: no-repeat;
  background-color: #1E202B;
}

header .search,
footer .subscripe {
  background-color: #1E202B;
  outline: none;
  border: none;
  font-size: 14px;
}


.form-control:focus {
  background-color: #1E202B;
  box-shadow: none;
  color: white;
}

.find-Btn,
.sub-Btn {
  top: 5px;
  right: 5px;
  bottom: 5px;
  padding: 0 40px;
  background-color: #009AD8;
}

.sub-Btn {
  padding: 0 25px;
}

.content-weather {
  background-color: #323544;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.header-weather {
  background-color: #2D303D;
  border-top-left-radius: 20px;
}


.weather {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.weather-3 {
  border-top-right-radius: 20px;
  border-top-left-radius: 0;
}

#textWeatherDay {
  margin-bottom: 36px;
}

.temp {
  font-size: 90px;
  font-weight: 700;
  color: white;
}

.header-weather p{
  font-size: 14px;
  color: #bfc1c8;
}

.content-weather .location {
font-size: 18px;
color: #bfc1c8;
}

.content-weather h6 {
font-size: 14px;
font-weight: 300;
color: #009ad8;
}

.content-weather span {
  font-size: 13px;
  font-weight: 300;
  color: #bfc1c8;
}


.border-none {
  border-radius: 0;
  /* border-top-left-radius: 0; */
}

.img-width {
  width: 50px;
}

.text-24 {
  font-size: 24px;
}

.min-temp {
  color: #bfc1c8;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 30px;
}

.color-one {
  background-color: #222530;
}

.color-two {
background-color: #262936;
}

.color-three {
  background-color: #1E202B;
}

footer {
  background-color: #262936;
}

footer .box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1E202B;
  transition: all 0.5s;
}


footer .icons i {
  font-size: 20px;
  color: #009ad8;
  transition: all 0.5s;
}

footer .box:hover {
  background-color: #009AD8;
}

footer .box:hover i {
  color: white;
  
}

.copyright {
  color: #bfc1c8;
  font-size: 14px;
}

.contact {
  background-color: #1E202B;
}

.bread {
  background-color: #262936;
  
}

.bread ol li a {
  font-size: 14px !important;
  text-decoration: none;
  color: #bfc1c8;
}

.bread ol li a:hover {
  text-decoration: underline;
}

.bread ol li {
font-size: 13px;
color:#ffffff !important;
}

.inputContact {
  padding: 13px;
  font-size: 13px;
  background-color: transparent;
  color: white;
  border: 1px solid #393c48;
}

textarea {
  font-size: 13px !important;
  border-radius: 25px !important;
  background-color: transparent !important;
  color: white !important;
  border: 1px solid #393c48 !important;
}

textarea:hover,
textarea:focus,
.inputContact:hover,
.inputContact:focus {
  border-color: #009ad8 !important;
}

.title {
  color: #fff;
  font-weight: 300;
  font-size: 36px;
}

.textContact {
  font-weight: 300;
  font-size: 14px;
  color: #bfc1c8;
}

.btn-Contct {
  font-size: 14px;
  background-color: #009ad8;
}

.map-info {
  background-color: #262936;
}

iframe {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.infoMap {
  color: #bfc1c8;
  font-size: 14px;
  font-weight: 300;
}

.info span {
  font-size: 13px;
  color: #bfc1c8;
}

.info i {
  color: #647fdd;
}